*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    text-align: center;
}
:root{
    --White: hsl(0, 0%, 100%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --darkDesaturated_Blue: hsl(212, 27%, 19%);
    --darkGrayish_Blue: hsl(213, 9%, 39%);
    --Soft_red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark_desaturated_cyan: hsl(167, 40%, 24%);
    --Dark_blue : hsl(198, 62%, 26%);
    --Dark_moderate_cyan : hsl(168, 34%, 41%);
}
.active{
    display: block;
}

header{
    background-image: url(./images/mobile/image-header.jpg);
    background-size: cover;
    padding: 2rem;
    padding-bottom: 8rem;

}
header .container{
    display: flex;
    justify-content: space-between;
}
.container img{
    /* width: 40%; */
}

.container .fa-bars{
    font-size: 1.6rem;
    color: var(--White);
}
header h1{
    margin-top: 7rem;
    margin-bottom: 3rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: var(--White);
}
header .arrow{
    text-align: center;
}
header nav{
    display: none;
    width: 83%;
    position: absolute;
    top: 6rem;
    background: white;
}
header nav a{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 3rem 2.3rem 3rem;
    text-decoration: none;
    color: var(--GrayishBlue);
    font-weight: 100;
}
header nav a:nth-child(1){
    margin-top: 3rem;
}
header nav a:nth-child(4){
    color: var(--Dark_blue);
    background: var(--Yellow);
    padding: 20px 30px;
    border-radius: 3rem;
}
header nav::after{
    content: '';
    position: absolute;
    right: 0;
    top: -1.8rem;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-bottom: 15px solid white;

}
/* main */
main .brand .brand-img{
    max-width: 100%;
}
main .brand .brand-description{
    padding: 4rem 1.2rem;
} 
main .brand h1{
    font-size: 2.2rem;
}
main .brand p{
    color: var(--GrayishBlue);
    margin-top: 2rem;
    margin-bottom: 3rem;
}
main .Graphics .Graphic-col1,
main .Graphics .Graphic-col2{

    background-size: cover;
    background-repeat: no-repeat;
    padding: 25rem 1rem 2rem 1rem;
    margin-top: 0rem;
    
}
main .Graphics .Graphic-col1{
    background-image: url(./images/mobile/image-graphic-design.jpg);
}
.Graphics .Graphic-col1 { 
    color: var(--Dark_desaturated_cyan);
} 
.Graphics .Graphic-col2{
   background-image: url(./images/mobile/image-photography.jpg);
}
.brand h3{
    position: relative;   
}
.brand .col1 h3::after{
    content: '';
    right: 6rem;
    position: absolute;
    width: 43%;
    top: 0.9rem;
    z-index: -1;
    height: 43%;
    border-radius: 1rem;
    background: var(--Yellow);
}

.brand .col2 h3::after{
    content: '';
    right: 6rem;
    position: absolute;
    width: 43%;
    top: 0.9rem;
    z-index: -1;
    height: 43%;
    border-radius: 1rem;
    background: var(--Soft_red);
}

 .Graphics .Graphic-col1 p,
 .Graphics .Graphic-col2 p{
    margin: 2rem 0;
}
 .Graphics .Graphic-col2 {
    color: var(--darkDesaturated_Blue);
}


 .Clients > p{
    margin-bottom: 1.4rem;
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    color: var(--darkGrayish_Blue);
}
 .Clients .Client h2
{
    font-size: 1.3rem;
}

 .Clients .Client
{
    padding: 2rem;
}
.Clients .Client img
{
    border-radius: 100%;
    width: 25%;
}
.Clients .Client p:nth-child(2)
{
    margin: 1.8rem 0;
    color: var(--darkGrayish_Blue);
}
.Clients .Client p:nth-child(4)
{
    margin-top: 0.4rem;
    color: var(--darkGrayish_Blue);
}
/* Footer */
footer{
    background: hsl(168, 34%, 41%);
}
footer .Galleries{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.Galleries img{
    width: 50%;
}
footer nav{
    margin-bottom: 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
footer nav a{
    text-decoration: none;
    color:  var(--Dark_desaturated_cyan);
    font-size: 1.2rem;
}
footer .Icon{
    margin-bottom: 2rem;
}
.Icon i {
    font-size: 1.6rem;
    margin: 0 0.6rem;
    color: var(--Dark_desaturated_cyan);
}


@media screen and (min-width: 1024px){
    header{
        padding: 3rem 2rem 18rem 2rem;
        background-image: url(./images/desktop/image-header.jpg);
    }
    .container img{
        width: 150%;
    }
    
    .container .fa-bars{
        display: none;
    }
    header h1{
        font-size: 4rem;
    }
    header nav{
        display: block;
        text-align: end;
        background: transparent;
        position: unset;
    }
    header nav a{
        font-size: 1rem;
        margin: 0 0rem 2.3rem 2rem;
        color: var(--White);
    }
    header nav a:nth-child(1){
        margin-top: 0;
    }
    header nav a:nth-child(4){
        color: var(--Dark_blue);
        background: var(--White);
        padding: 15px 25px;     
    }
    header nav a:nth-child(4):hover{
        background: rgba(255, 255, 255,0.3);
        color: rgba(255, 255, 255);
    }
    header nav::after{
        content: '';
        display: none;
    }
    
    .brand-description > * {
        text-align: left;
        font-weight: 800;
    }
    .brand .col1{
        display: flex;
        flex-direction: row-reverse;
    }
    .col1 img{
       content: url(./images/desktop/image-transform.jpg);
       flex: 1;
    }
    .col2 img{
        content: url(./images/desktop/image-stand-out.jpg);
        flex: 1;
    }
    .brand .col2{
        display: flex;
    }
    .brand h3{
        width: 20%;
    }
    .brand .col1 h3::after,
    .brand .col2 h3::after{
        right: 0.3rem;
        width: 100%
    }
    
 

 .brand .brand-description {
        padding: 11rem 9rem;
        width: 50%;
    }
    .Graphics{
        display: flex;
    }
    main .Graphics .Graphic-col1
    {
        width: 50%;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    }
    main .Graphics .Graphic-col2{
        width: 50%;
        background-image: url(./images/desktop/image-photography.jpg);
    }
    main .Graphics .Graphic-col1, main .Graphics .Graphic-col2 {     
        padding: 25rem 11rem 2rem 11rem;
    }
    .Clients > p{
        margin-top: 10rem;
    }
    .Clients .list-client{
        display: flex;
        justify-content: space-evenly;
        margin: 4rem 0 10rem 0;
    }
    .list-client .Client{
        width: 25%;
    }
    .Galleries img{
        width: 25%;
        margin-top: 0;
    }
    .Galleries img:nth-child(1){
        content: url(./images/desktop/image-gallery-milkbottles.jpg);
    }
    .Galleries img:nth-child(2){
        content: url(./images/desktop/image-gallery-orange.jpg);
    }.Galleries img:nth-child(3){
        content: url(./images/desktop/image-gallery-cone.jpg);
    }.Galleries img:nth-child(4){
        content: url(./images/desktop/image-gallery-sugarcubes.jpg);
    }
    footer nav{
        width: 20%;
        justify-content: space-between;
        margin: 2rem auto 5rem
    }
    footer .Icon i:hover{
        color: var(--White);
        cursor: pointer;
    }
    footer nav a:hover{
        color: var(--White);
    }
    
}